/** Abstracts - Colors **/
$black: #171A1E;
$black-full: #000000;
$black-transparent: #171A1E94;
$blue: #41519E;
$dark-blue-1: #06162A;
$dark-blue-2: #101E2E;
$orange: #E8530E;
$mauve: #AE3C8E;
$pink: #FF7CAA;
$violet: #794897;
$white-full: #FFFFFF;