/** Abstracts - Colors **/
$black: #171A1E;
$blue: #41519E;
$cyan: #03E9F4;
$dark-blue: #06162A;
$full-black: #000000;
$full-white: #FFFFFF;
$orange: #E8530E;
$mauve: #AE3C8E;
$pink: #FF7CAA;
$violet: #794897;