/** Layouts - Banner **/
@use "../abstracts/colors" as colors;


.banner {
    border-top: 1px inset colors.$black-full;
    position: relative;
}

// Video
.banner__video {
    border-radius: 5px;
    display: flex;
    filter: drop-shadow(0 0 5px colors.$black-full);
    height: 500px;
    object-fit: cover;
    width: 100%;
}

// Overlay 
.banner__video_overlay {
    background-color: colors.$black-transparent;
    border-radius: 5px;
    height: calc(100% - 40px);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 100px);
}