/** Layouts - Banner **/
@use "../abstracts/colors" as colors;


.banner {
    position: relative;
}

// Video
.banner__video {
    border-radius: 5px;
    display: flex;
    filter: drop-shadow(0 0 5px colors.$black-full) brightness(0.5);
    height: 500px;
    object-fit: cover;
    width: 100%;
}