/** Sections - Event **/
@use "../abstracts/colors" as colors;


#event {
    display: flex;
    flex-direction: column;
}

// Informations
.event__informations {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px 35px;
    justify-content: center;
    margin-bottom: 10px;
}

// Logo
@keyframes pulse {
	0% {
        transform: scale(0.95);
	}

	50% {
        transform: scale(1.05);
	}

	100% {
        transform: scale(0.95);
	}
}

.event__logo {
    animation: pulse 2s infinite;
    display: block;
    filter: drop-shadow(0 0 5px colors.$blue);
    height: 350px;
    object-fit: scale-down;
    width: 80%;
}

// Event
.event__title {
    color: colors.$orange;
    font-size: 24px;
    text-align: center;
}

// Description
.event__description {
    font-size: 20px;
    margin: 10px auto;
    text-align: justify;
}

// Countdown
.countdown {
    background-color: colors.$black-full;
    border-radius: 5px;
    display: flex;
    filter: drop-shadow(0 0 5px colors.$black-full);
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px 0;
    justify-content: space-between;
    margin: 15px 0 25px 0;
    padding: 30px;
}
  
.countdown__type {
    text-align: center;        
}

.countdown__value {
    color: colors.$pink;
    font-size: 80px;
}

.countdown__name {
    color: colors.$white-full;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;  
}
  
/// Responsive
@media screen and (min-width: 1150px) {
    // Informations
    .event__informations {
        flex-direction: row-reverse;
    }

    // Logo
    .event__logo {
        width: fit-content;
    }

    // Event
    .event__title {
        text-align: left;
    }

    // Countdown
    .countdown {
        flex-direction: row;
        padding: 30px 60px;
    }
}