/** Sections - Team **/
@use "../abstracts/colors" as colors;


.teams__list {
    background-color: colors.$black;
    filter: drop-shadow(0 0 5px #000000);
    padding: 10px 20px;
}

// Characters
.team__character {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

// Informations
.character__informations {
    align-items: center;
    color: colors.$white-full;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    justify-content: center;
    list-style: none;
    text-align: center;
}

// Image
.character__image {
    background-color: colors.$orange;
    display: flex;
    filter: drop-shadow(0 0 5px colors.$orange);
    margin: auto;
    padding: 5px;
}

// Gallery
.character__pictures {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    justify-content: center;
}

.character__picture {
    border: 1px solid colors.$white-full;
    height: 150px;
    object-fit: cover;
    max-width: 100%;
    width: 310px;
}

// Dots
.glider__dots {
    background: colors.$black-full;
    border-radius: 20px;
    padding: 10px 20px;
    width: fit-content;
}

/// Responsive
@media screen and (min-width: 1150px) {
    // Characters
    .team__character {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    // Informations
    .character__informations {
        align-items: unset;
        text-align: left;
    }
}