/** Components - Scroll **/
@use "../abstracts/colors" as colors;


.scroll__top {
    align-items: center;
    background-color: colors.$orange;
    border-radius: 50%;
    bottom: 25px;
    display: none;
    filter: drop-shadow(0 0 5px colors.$black-full);
    flex-direction: column;
    height: 55px;
    justify-content: center;
    padding: 5px;
    position: fixed;
    right: 25px;
    transition: 0.5s;
    width: 55px;
    z-index: 1;

    &:hover {
        background-color: colors.$mauve;
        cursor: pointer;
    }
}

// Icon
.scroll__link {
    text-decoration: none;
}

// Icon
.scroll__icon {
    width: 38px;
}


/// Responsive
@media screen and (min-width: 1150px) {
    .scroll__top {
        bottom: 35px;
        height: 64px;
        right: 35px;
        width: 64px;
    }

    // Icon
    .scroll__icon {
        width: 48px;
    }
}