/** Components - Separator **/
@use "../abstracts/colors" as colors;


.separator {
	align-items: center;
    display: flex;
    font-size: 20px;
    text-transform: uppercase;

    &::before,
    &::after {
        background: colors.$pink;
        content: "";
        font-size: 24px;
        flex: 1;
        height: 2.5px;
        margin: 0 15px;
    }
    
    &::before {
        margin-left: 0;
    }

    &::after {
        margin-right: 0;
    }
}

@media screen and (min-width: 1150px) {
    .separator {
        .separator::before,
        .separator::after {
            margin: 0 25px;
        }

        &::before {
            margin-left: 0;
        }

        &::after {
            margin-right: 0;
        }
    }
}