/** Fonts **/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");


/** Reset **/
* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}


/** Variables **/
:root {
    --blue: #06162A;
    --orange: #E8530E;
    --mauve: #AE3C8E;
    --pink: #D43C70;
    --violet: #794897;
}