/** Pages - Legal notice **/
@use "../abstracts/colors" as colors;


// Text
.legal__text {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    margin: 20px auto;
}

// Title
.legal__title {
    font-weight: bold;
}

// Content