/** Layouts - Footer **/
@use "../abstracts/colors" as colors;


.footer__block {
    align-items: center;
    background-color: colors.$black;
    color: colors.$white-full;
    display: flex;
    filter: drop-shadow(-5px 0 2.5px colors.$black-full);
    flex-direction: column;
    gap: 20px;
    padding: 15px 20px;
}

// Informations & Icons
.footer__informations,
.footer__icons {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    gap: 0 30px;
}

.footer__informations .link {
    font-size: 18px;
}

/// Responsive
@media screen and (min-width: 1150px) {
    .footer__block {
        flex-direction: row;
        font-size: 20px;
        justify-content: space-between;
    }
}