/** Layouts - Form **/
@use "../abstracts/colors" as colors;


// Row
.form__row {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--inline {
        flex-direction: column;
        gap: 20px;
    }
}

.form__col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

// Label
.form__label {
    color: colors.$white-full;
    font-size: 18px;
}

// Input
.form__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid colors.$white-full;
    font-size: 16px;
    padding: 10px;
    width: 100%;

    &[type="checkbox"] {
        width: 50px;
    }

    &::placeholder {
        color: colors.$white-full;
        opacity: 0.75;
    }
}
textarea.form__input {
    height: 150px;
    resize: none;
}


/// Responsive
@media screen and (min-width: 1150px) {
    // Row
    .form__row {       
        &--inline {
            flex-direction: row;
        }
    }

    .form__col {
        width: 50%;
    }
}