/** Layouts - Grid **/
@use "../abstracts/colors" as colors;


.grid__container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

// Image
.grid__img {
    filter: opacity(0.75);
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s;
    width: 100%;

    &:hover {
        cursor: pointer;
        filter: opacity(1) drop-shadow(2px 4px 6px colors.$black-full);
        opacity: 1;
    }

    &--small {
        grid-column: span 1;
        grid-row: span 2;
        height: 300px;
    }
    &--medium {
        grid-column: span 2;
        grid-row: span 2;
        height: 300px;
    }
    &--large {
        grid-column: span 3;
        grid-row: span 1;
        height: 200px;
    }
}


/// Responsive
@media screen and (min-width: 768px) {
    // Image
    .grid__img {
        &--small {
            height: 300px;
        }
        &--medium {
            height: 300px;
        }
        &--large {
            height: 200px;
        }
    }
}