/** Layouts - Header **/
@use "../abstracts/colors" as colors;


.header__block {
    align-items: center;
    background-color: var(--header-background);
    color:colors.$white-full;
    display: flex;
    filter: drop-shadow(0 0 5px colors.$black-full);
    flex-direction: column;
    justify-content: center;
    min-height: 105px;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    &--open {
        height: 100%;
    }
}

// Informations
.header__informations {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 35px;
}

// Title
.header__title {
    font-family: "Pacifico", sans-serif;
    font-size: 35px;
}

// Logo
.header__logo {
    display: none;
}

// Container
.header__container {
    align-items: center;
    display: flex;
    gap: 0 20px;
}

/// Responsive
@media screen and (min-width: 1150px) {
    .header__block {
        flex-direction: row;
        justify-content: space-between;
        min-height: 160px;
        padding: 15px 30px;
    }

    // Informations
    .header__informations {
        flex-direction: row;
    }

    // Logo
    .header__logo {
        background-color: colors.$white-full;
        border-radius: 50%;
        display: block;
        height: 130px;
        object-fit: scale-down;
        padding: 10px;
        width: 130px;
    }
}