/** Layouts - Main **/
.main__block {
    flex: 1 0 auto;
    margin-top: 220px;
    padding-top: 5px;
}

/// Responsive
@media screen and (min-width: 1150px) {
    .main__block {
        margin-top: 160px;
    }
}