/** Layouts - Modal **/
@use "../abstracts/colors" as colors;


.modal {
    background-color: colors.$white-full;
    border: none;
    filter: drop-shadow(0 0 5px colors.$black-full);
    flex-direction: column;
    gap: 15px 0;
    height: fit-content;
    left: 50%;
    padding: 15px 20px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    z-index: 1;

    &[open] {
        display: flex;
    }

    &::backdrop {
        background-color: colors.$black-transparent;
    }
}

// Title
.modal__title {
    display: flex;
    width: fit-content;
}

// Close
.modal__close {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

/// Responsive
@media screen and (max-height: 450px) {
    .modal {
        width: 90%;
    }
}