/** Layouts - Navbar **/
@use "../abstracts/colors" as colors;


.header__nav {
    height: 100%;
    overflow-y: auto;
}

// Mobile
.nav__mobile {
    height: 40px;
    width: 40px;

    &--close {
        margin-top: 20px;
    }
}

// List
.nav__list {
    align-items: center;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
}

// Item
.nav__item {
    display: flex;

    &--separator {
        transform: rotate(90deg);
    }

    &--icons {
        gap: 0 25px;
    }
}

// Color mode
.nav__item--mode {
    display: flex;
}

.color__mode {
    align-items: center;
    display: flex;
    transition: 0.5s;
    width: 28px;

    &:hover {
        cursor: pointer;
    }

    &--light:hover {
        filter: invert(38%) sepia(78%) saturate(2742%) hue-rotate(357deg) brightness(94%) contrast(93%);
    }

    &--dark:hover {
        filter: invert(32%) sepia(17%) saturate(2415%) hue-rotate(194deg) brightness(89%) contrast(88%);
    }
}

/// Responsive
@media screen and (min-width: 1150px) {
    // Mobile
    .nav__mobile {
        display: none;
    }

    // List
    .nav__list {
        display: flex;
        flex-direction: row;
    }

    // Item
    .nav__item--separator {
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 1350px) {
    // List
    .nav__list {
        gap: 0 35px;
    }
}