/** Layouts - Section **/
@use "../abstracts/colors" as colors;


.section__block {
    border-top: 1px solid var(--section-border);
    color: var(--text-color);
    padding: 20px 15px;
    
    &:nth-child(1) {
        border-top: none;
    }

    &:nth-child(even) {
        background-color: var(--section-even-background);
    }
}

// Title
.section__title {
    font-size: 40px;
    margin-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

/// Responsive
@media screen and (min-width: 1150px) {
    .section__block {
        padding: 20px 50px;
    }

    // Title
    .section__title {
        font-size: 50px;
    }
}